<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pet Portal Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/public/assets/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="row content notrim fillcontainer roundedge">
        <!--Left Half of Container: Logo -->
        <div class="col-md-3 notrim roundedgeleft svgcontainer">
          <img src="/images/logo.svg" class="img-fluid filter-through svglogo" alt="image">
        </div>
        <!--Right Half of Container: Login Form-->
        <div class="col-md-9 notrim registercontainer">
          <h1 class="registerbox" style="text-align: center;">
            REGISTER
          </h1>
          <ul>
            <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
          </ul>
          <!--Questions/Inputs-->
          <form class="d-flex register-form-parent" style="box-sizing: border-box;" action="/users/register" method="POST">
            <div class="col-md-4 flex-grow-1" style="height: max-content">
                    <div class="form-group thininputstyle">
                        <input 
                            type="text" 
                            id="name" 
                            name="name" 
                            class="form-control register-form-control"
                            placeholder="Owner Name" 
                            required
                        />
                    </div>
                    <div class="form-group thininputstyle">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control register-form-control"
                            placeholder="Email"
                            required
                        />
                    </div>
                    <div class="form-group thininputstyle">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control register-form-control"
                            placeholder="Password"
                            required
                        />
                    </div>
                    <div class="form-group thininputstyle">
                        <input
                            type="password"
                            id="password2"
                            name="password2"
                            class="form-control password-confirm-form-control"
                            placeholder="Confirm Password"
                            required
                        />
                    </div>
            </div>
            <div class="col-md-4 flex-grow-1" style="height: max-content">
                    <div class="form-group thininputstyle">
                        <input
                            type="text"
                            id="serialno"
                            name="serialno"
                            class="form-control register-form-control"
                            placeholder="Microchip No."
                            required
                        />
                    </div>
                    <div class="form-group thininputstyle">
                        <input
                            type="text"
                            id="nameofpet"
                            name="nameofpet"
                            class="form-control register-form-control"
                            placeholder="Pet's Name"
                            required
                        />
                    </div>
                    <div class="form-group thininputstyle">
                        <input
                            type="text"
                            id="sexofpet"
                            name="sexofpet"
                            class="form-control register-form-control"
                            placeholder="Gender"
                            required
                        />
                    </div>
            </div>
            <div class="col-md-4 flex-grow-1" style="height: max-content">
                    <div class="form-group thininputstyle">
                        <input
                            type="text"
                            id="speciesofpet"
                            name="speciesofpet"
                            class="form-control register-form-control"
                            placeholder="Species"
                            required
                        />
                    </div>
                    <div class="form-group thininputstyle">
                        <input
                            type="text"
                            id="breedofpet"
                            name="breedofpet"
                            class="form-control register-form-control"
                            placeholder="Breed"
                            required
                        />
                    </div>
                    <div class="form-group thininputstyle">
                        <input
                            type="text"
                            id="colorofpet"
                            name="colorofpet"
                            class="form-control register-form-control"
                            placeholder="Color"
                            required
                        />
                    </div>
            </div>        
                    <!--Buttons-->
                    <div class="register-button-parent">
                        <input class="btn btn-class"
                        type="submit" 
                        value="Register"
                        />
                    <br />
                        <div class="return-to-login-container">
                            <a style="color: #dd660d" href="/users/login">Return</a>
                        </div>
                    </div>        
          </form>
        </div>
      </div>
    </div>




<!--Buttons from login.ejs
    <div class="btncontainer fillcontainer">
        <button class="btn btn-class">Login</button>
        <a class="btn btn-class" href="/users/register">Register</a>
      </div>
-->


</body>
</html>