@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('/images/background.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    width: 100vw;
}

.content {
    margin: 8%;
    background-color: #faebd7;
    padding: 4rem 1 rem 4rem 1rem;
    box-shadow: 0 0 5px 5px(0,0,0, .05);
}

.container {
    border-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    width: 70vw;
}

.fillcontainer {
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.notrim {
    margin: 0;
    padding: 0;
}

.roundedge {
    border-radius: 25px;
}

.roundedgeleft {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.logincontainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 7%;
    flex-direction: column;
}

.registercontainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 3%;
    flex-direction: column;
}

.loginbox {
    font-style: bold;
    color:#5B371D;
    font-weight: 600 !important;
    margin-bottom: 20%;
}

.registerbox {
    font-style: bold;
    color:#5B371D;
    font-weight: 600 !important;
    margin-bottom: 3%;
}

@media screen and (max-width: 320px) {
    .container {
        width: 99vw;
        height: 70vh;
        padding: 1px;
    }
    .loginbox {
        font-size: 25px;
        margin-bottom: 30%;
    }
}
@media screen and (min-width: 321px) {
    .container{
        width: 98vw;
        height: 70vh;
        padding: 1px;
    }
    .loginbox {
        font-size: 25px;
        margin-bottom: 40%;
    }
}
@media screen and (min-width: 411px) {
    .container{
        width: 90vw;
        height: 65vh;
        padding: 1px
    }
    .loginbox {
        font-size: 25px;
        margin-bottom: 30%;
    }
}
@media screen and (min-width: 768px) {
    .container{
        width: 80vw;
        height: 70vh;
    }
    .loginbox {
        font-size: 45px !important;
        margin-bottom: 20%;
    }
}
@media screen and (min-width: 1024px) {
    .container{
        width: 70vw;
        height: 60vh;
    }
    .loginbox {
        font-size: 45px !important;
        margin-bottom: 20%;
    }
}
@media screen and (min-width: 1280px) {
    .container{
        width: 70vw;
        height: 60vh;
    }
    .loginbox {
        font-size: 45px !important;
        margin-bottom: 20%;
    }
}

.svgcontainer {
    background-color: #5B371D;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.svglogo {
    height: 65%;
    width: 65%;
}

/* Uncomment to turn Non-color SVG to Color #faebd7  */
 .filter-through{
    /* filter: invert(92%) sepia(76%) saturate(314%) hue-rotate(301deg) brightness(104%) contrast(96%); */
}



.form-control {
    display: block;
    width: 100%;
    font-size: 1.20rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #dd660d !important;
    border-style: solid !important;
    border-width: 0 0 2px 0 !important;
    padding: 0px !important;
    color: #5B371D;
    height: auto;
    border-radius: 0;
    background-color: #faebd7;
    background-clip: padding-box;
}

.register-form-parent {
    padding-top: 12%;
}

.register-form-control {
    font-size: 1rem !important;
    height: 5% !important;
}

/* only repeats to resize placeholder text below */
.password-confirm-form-control {
    font-size: 1rem !important;
    height: 5% !important;
}

.register-button-parent {
    position: absolute;
    overflow: auto;
    bottom: 0;
    padding-bottom: 3%;
    padding-left: 40%;
    padding-right: 50%;
    text-align: center;
    justify-content: center;
}

.form-control:focus{
    border-color: #faebd7;
    background-color: #faebd7;
    outline: 0;
    box-shadow: none;
}

.inputstyle {
    color: #5B371D;
    padding-top: 10%;
    padding-bottom: 2%;
}

.thininputstyle {
    color: #5B371D;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5B371D;
    font-size: 22px;
    opacity: 1; /* Firefox */
}

.password-confirm-form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5B371D;
    font-size: 18px;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5B371D;
    font-size: 22px;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #5B371D;
    font-size: 22px;
}

.btncontainer {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 10%;
    
}

.btn-class {
    border-radius: 10px;
    border-color: #5B371D;
    color: #5B371D;
}

.btn-class:hover {
    background-color: #5B371D;
    color:#faebd7;
}

.return-to-login-container {
    padding-top: 8%;
    padding-bottom: 40%;
    color:#dd660d;
    text-decoration: underline;
}